# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs/
*.log
*.log.*

# Generated code
api-v3/*
src/api/client/*

# Build
dist/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.test
.env.production
.env.local
.env.*.local

# VS Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temporary folders
tmp/
temp/

# MCP Registry
.mcpregistry_registry_token
.mcpregistry_github_token

#Ignore vscode AI rules
.github/copilot-instructions.md


#Ignore cursor AI rules
.cursor/rules/codacy.mdc

# MacOS store files
.DS_Store
